.advantages {
  background-color: #edeff6;
  padding-top: 80px;
  padding-bottom: 35px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.advantages__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ff8d30;
}

.advantages__list {
  list-style: none;
  padding: 0 45px 0 25px;
  margin: 0;
}

.advantages__item {
  height: 68px;
  padding: 10px 0;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.5);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.advantages__text {
  line-height: 1.38;
  margin: 0;
}

.advantages__link {
  display: block;
  margin-top: 35px;
  margin-bottom: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #192144;
}
